@font-face {
    font-family: 'Lora';
    src: url('shared/fonts/Lora-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Lora Bold';
    src: url('shared/fonts/Lora-Bold.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}